# Supabase PostgreSQL (obrigatório)
DATABASE_URL="postgresql://postgres.XXXX:[PASSWORD]@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.XXXX:[PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres"

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="HuB - Atlântico"

# Cron Security
CRON_SECRET=mude-este-secret-em-producao
